* {
    font-family: Roboto Slab;
}

.card {
    border-radius: .5em !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.head {
    background: #EFEFEF;
}

.container {
    border-radius: 6px;
    max-width: 65%;
}

.resource-btn {
    font-size: 0.85em;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.1em;
    filter: saturate(0.65);
}

.essentialButton {
    background-color: red !important;
    border-color: red !important;
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 90%;
    }
}

#resource-group {
    display: none;
}

#cities-group {
    display: none;
}