* {
    font-family: Roboto Slab;
}

.card {
    border-radius: .5em !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.head {
    background: #EFEFEF;
}

.container {
    border-radius: 6px;
    max-width: 65%;
}

.resource-btn {
    font-size: 0.85em;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.1em;
    filter: saturate(0.65);
}

.essentialButton {
    background-color: red !important;
    border-color: red !important;
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 90%;
    }
}

#resource-group {
    display: none;
}

#cities-group {
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}